body{

    background-color: black;
}
.navbar {
    position: absolute; /* ajusta de manera absoluta dentro del contenedor */
    width: 100%; /* ocupa el ancho complero de la pagina */
    height: 50px; /* Ajusta la altura del nav */
}
.navbar-transparent {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco semitransparente */
}
.navbar-brand img {
    height: 30px; /* Ajusta la altura del logo insertado */
}
.navbar-title {
    margin-left: 10px; /* Agrega un margen a la izquierda del logo */
    color: white; /* Ajusta el color del texto del lado del logo */
} 
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.iconos {

    color: #fff;
}

.icono-container {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.icono-container p {
    margin-top: 20px;
    color: white;
    text-align: left; 
    
}

.icono-container i {
   background-color: #00A8FF;
   align-items: flex-start;
}

.icono-bottom {
    align-items: flex-start;
    background-color:#00A8FF;
    
}

.card-body {
    background-color: #00A8FF;
    color: #fff;
}
.card {
    min-height: 350px; /* Ajusta según sea necesario */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
}
.btn-lower {
    margin-top: 10px;
    color: white;
    background-color: #17A2B8;
}
.contacto{
    color: white;
}



footer {
    background-color:#17A2B8 ; 
    color: white; 
    padding: 10px 0; 
}

footer h5 {
    color: white; /* Color de texto del título */
    font-size: 1.5rem; /* Tamaño de fuente del título */
}

footer i {
    color: white; /* Color de los iconos */
}
